:root {
  --N-1D: #830cfe;
  --N-1C: #a361e8;
  --N-1S: #c8aae6;
  --N-2C: #b70c0c;
  --N-2E: #cd6161;
  --N-2R: #e0aaaa;
  --N-3C: #f07e0c;
  --N-3E: #fba149;
  --N-3R: #f7d98b;
  --N-4-30: #fdfd24;
  --N-4-50: #f8f892;
  --D-OG: #619761;
  --D-R: #aaaae0;
  --D-E: #6161cd;
  --D-M: #1919a8;
  --D-S: #d0c8c5;
  --D-C: #ae9e98;
  --D-IL: #7a5e54;
  --D-IH: #4f291b;
  --C-R: #808080;
}
